doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../start/styles.css
      
    body
      .row.gray.lighten-2
        .container
        .col.s12.m2
            .col.s5.m12
            .col.s2.m12
            .col.s5.m12
            .col.s12.m8
            h1= title
            h6 Welcome to #{title}
            br
            .col.s0.m2
          
      .row
      .container.light-green.lighten-5.hoverable
        .row
          h3 Sign Up
          form(method="POST" action="/posts/signup")
            .form-group.col.s10.offset-s1
              label(for='username') Username
              input#name.form-control(type='text' placeholder='Enter username here' name='signupuser')
            .form-group.col.s10.offset-s1
              label(for='pwd') Password
              input#password.form-control(type='password' placeholder='Enter password here' name='signuppassword')
            button.btn.light-green.waves-effect(type='submit') Sign Up
            br
            p

    br
    p © Roosa Hynninen, 2020