/*body {
  text-align: center;
  background-color: white;
  font-family: serif;
}

.container {
  width: 400px;
  height: 500px;
  position: absolute;
  text-align: center;
  align-self: center;
  background-color: white;
  left: 38%;
  top: 20%;
  border-radius: 10px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 50px;
  color: green;
}

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 10px;
  color: green;
}

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 10px;
  color: darkmagenta;
}

h3,
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 30px;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  text-align: center;
  font-size: 14px;
  height: 22px;
  width: 100px;
  background-color: green;
  color: white;
  border-radius: 4px;
  height: 22px;
}

label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  width: 90%;
  border: none;
  border-bottom: 2px solid black;
  height: 22px;
}
